@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-outline-variant;
  }

  body {
    @apply bg-surface text-on-surface font-body-md antialiased;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #141313;
  }
  ::-webkit-scrollbar-thumb {
    background: #2b2a2a;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #353434;
  }
}

@layer components {
  .syntax-key {
    color: #7dd3fc;
  }
  .syntax-string {
    color: #86efac;
  }
  .syntax-number {
    color: #93c5fd;
  }
}
